<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><div style="border: 2px solid blue;background-color: aquamarine; height: 600px; width: 500px;">
        <h1>iPhones</h1>
        <p style="float: left; color: brown;"> The iPhone is a line of smartphones designed and marketed by Apple Inc. These devices use Apple's iOS mobile operating system. The first-generation iPhone was announced by then-Apple CEO Steve Jobs on January 9, 2007. Since then, Apple has annually released new iPhone models and iOS updates. As of November 1, 2018, more than 2.2 billion iPhones had been sold. As of 2022, the iPhone accounts for 15.6% of global smartphone market share. </p>
        <p style="float: left; color: brown;">The latest released model is Iphone 14. <a href="Test.html">Click here</a> </p>
        <audio controls="controls" src="Audio.mp3"></audio>
        <video width="200" height="200" controls src="sample-mp4-file.mp4"></video>
        <img src="" alt="">
    </div></center>
</body>
</html>